@model IEnumerable<Databases.DomainModel.Product>
@{
    ViewBag.Title = "Početna strana";
}

<br />
<br />

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("User") && ViewBag.Adverts != null)
    {
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                @{ var i = 0;}
                @foreach (Databases.DomainModel.Advert a in ViewBag.Adverts)
                {
                    if (i == 0)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to=@i class="active"></li>
                    }
                    else
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to=@i></li>
                    }
                    i++;
                }
            </ol>
            <div class="carousel-inner">
                @{ var j = 0;}
                @foreach (Databases.DomainModel.Advert a in ViewBag.Adverts)
                {
                    if (j == 0)
                    {
                        <div class="carousel-item active">
                            <a href="">
                                <img id="adImg" class="d-block w-100" src="~/Resources/Adverts/@a.Picture">
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item">
                            <a href="">
                                <img id="adImg" class="d-block w-100" src="~/Resources/Adverts/@a.Picture">
                            </a>
                        </div>
                    }
                    j++;
                }
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <br />
    }
    <div id="catContainer" class="row">
        <div id="categories" class="col-3 bg-dark">
            <br />
            <p><i class="fas fa-book-open"></i>  Kategorije:</p>
            <hr />
            <ul id="myUL">
                <li>
                    <span class="caret">Mobilni uređaji</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i> <a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Laptopovi i tableti" })"> Laptopovi i tableti</a></li>
                        <li><i class="fas fa-circle fa-xs"></i> <a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Mobilni telefoni" })"> Mobilni telefoni</a></li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret">Računari</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Gotove konfiguracije" })"> Gotove konfiguracije</a></li>
                        <li><i class="fas fa-circle fa-xs"></i><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Racunarske komponente" })"> Računarske komponente</a></li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret">Tv, audio, foto, video</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "TV i audio" })"> Tv i audio</a></li>
                        <li><i class="fas fa-circle fa-xs"></i><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Foto i video" })"> Foto i video</a></li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret">Monitori, periferije, konzole</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Monitori i periferije" })"> Monitori i periferije</a></li>
                        <li><i class="fas fa-circle fa-xs"></i><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Stampaci" })"> Štampači</a></li>
                        <li><i class="fas fa-circle fa-xs"></i><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Konzole" })"> Konzole</a></li>
                        <li><i class="fas fa-circle fa-xs"></i> <a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Memorije" })"> Memorije</a></li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret"><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Mrezna oprema" })"> Mrežna oprema</a></span>
                    <ul class="nested"></ul>
                </li>
                <hr />
                <li>
                    <span class="caret"><a id="category" href="@Url.Action("CategoryProducts", "Product", new { category = "Bela tehnika" })"> Bela tehnika</a></span>
                    <ul class="nested"></ul>
                </li>
            </ul>
        </div>

        <div class="col-9">
            @if (User.IsInRole("User"))
            {
                <h3 class="text-center">Preporučeni proizvodi</h3>
            }
            else
            {
                <h3 class="text-center">Proizvodi</h3>
            }
            <br />
            <br />
            <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2">
                <div class="carousel-inner v-2" role="listbox">
                    @if (Model != null)
                    {
                        var i = 0;
                        foreach (Databases.DomainModel.Product product in Model)
                        {
                            if (i == 0)
                            {
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div id="prodCard" class="col-3">
                                            <img id="prodImg" class="card-img-top" src="~/Resources/@product.Picture" alt="Card image cap">
                                            <div id="cardBody" class="card-body">
                                                <h5 class="card-title">@product.Name</h5>
                                                <hr />
                                                <p id="cardTxt" class="card-text">Cena: @product.Price</p>
                                                <hr />
                                                <a id="prodLink" href="../Product/ProductDetails/@product.Id" class="btn btn-dark">Pogledaj proizvod</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="carousel-item">
                                    <div class="row">
                                        <div id="prodCard" class="col-3">
                                            <img id="prodImg" class="card-img-top" src="~/Resources/@product.Picture" alt="Card image cap">
                                            <div id="cardBody" class="card-body">
                                                <h5 class="card-title">@product.Name</h5>
                                                <hr />
                                                <p id="cardTxt" class="card-text">Cena: @product.Price</p>
                                                <hr />
                                                <a id="prodLink" href="../Product/ProductDetails/@product.Id" class="btn btn-dark">Pogledaj proizvod</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            i++;
                        }
                    }
                </div>
                <a class="carousel-control-prev prev-prods" href="#carousel-example-multi" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next next-prods" href="#carousel-example-multi" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            @if (User.IsInRole("User"))
            {
                <br />
                <br />
                <h3 class="text-center">Poslednje pogledano</h3>
                <br />
                <br />
                <div class="d-flex flex-row flex-wrap">
                    @if (ViewBag.LastSeen != null)
                    {
                        foreach (Databases.DomainModel.Product product in ViewBag.LastSeen)
                        {
                            <div id="prodCard" class="col-3">
                                <img id="prodImg" class="card-img-top" src="~/Resources/@product.Picture" alt="Card image cap">
                                <div id="cardBody" class="card-body">
                                    <h5 id="title" class="card-title">@product.Name</h5>
                                    <hr />
                                    <p id="cardTxt" class="card-text">Cena: @product.Price</p>
                                    <hr />
                                    <a id="prodLink" href="../Product/ProductDetails/@product.Id" class="btn btn-dark">Pogledaj proizvod</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>


}
else
{
    <div id="catContainer" class="row">
        <div id="categories" class="col-3 bg-dark">
            <br />
            <p><i class="fas fa-book-open"></i>  Kategorije:</p>
            <hr />
            <ul id="myUL">
                <li>
                    <span class="caret">Mobilni uređaji</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i> Laptopovi i tableti</li>
                        <li><i class="fas fa-circle fa-xs"></i> Mobilni telefoni</li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret">Računari</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i> Gotove konfiguracije</li>
                        <li><i class="fas fa-circle fa-xs"></i> Računarske komponente</li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret">Tv, audio, foto, video</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i> Tv i audio</li>
                        <li><i class="fas fa-circle fa-xs"></i> Foto i video</li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret">Monitori, periferije, konzole</span>
                    <ul class="nested">
                        <li><i class="fas fa-circle fa-xs"></i> Monitori i periferije</li>
                        <li><i class="fas fa-circle fa-xs"></i> Štampači</li>
                        <li><i class="fas fa-circle fa-xs"></i> Konzole</li>
                        <li><i class="fas fa-circle fa-xs"></i> Memorije</li>
                    </ul>
                </li>
                <hr />
                <li>
                    <span class="caret"> Mrežna oprema</span>
                    <ul class="nested"></ul>
                </li>
                <hr />
                <li>
                    <span class="caret"> Bela tehnika</span>
                    <ul class="nested"></ul>
                </li>
            </ul>
        </div>

        <div id="homePic" class="col-9">
            <img id="backgroundImg" src="~/Resources/background.jpg" />
        </div>
    </div>
}

@section scripts {
    @Styles.Render("~/Content/Home.css")
    @Styles.Render("~/Content/Shared.css")
    @Scripts.Render("~/Scripts/My scripts/HomePageScript.js")
}
