@model RecommenderSystem.Models.RegisterViewModel
@{
    ViewBag.Title = "Registracija";
}

<br />
<hr />
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Kreirajte novi nalog</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <i class="fas fa-user"></i>
                @Html.LabelFor(m => m.FirstName, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Surname, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <i class="fas fa-venus-mars"></i>
                @Html.LabelFor(m => m.Gender, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.Gender, new SelectList(new List<Object> { "M", "Ž" }), "Izaberite pol", new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <i class="fas fa-envelope"></i>
                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <i class="fas fa-phone"></i>
                @Html.LabelFor(m => m.Phone, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <i class="far fa-calendar-alt"></i>
                @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", @placeholder = "yyyy/mm/dd" })
                </div>
            </div>
            <div class="form-group">
                <i class="fas fa-map-marker-alt"></i>
                @Html.LabelFor(m => m.Address, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                </div>
                <span id="addresses">*Kasnije možete dodati još adresa.</span>
            </div>
            <div class="form-group">
                <i class="fas fa-key"></i>
                @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default btn-outline-dark" value="Registracija" />
                </div>
            </div>
        </div>
        <div class="col-6">
            @Html.LabelFor(m => m.Interests, new { @class = "control-label" })
            <br />
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[0].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Laptopovi i tableti")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[1].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Mobilni telefoni")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[2].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Gotove konfiguracije")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[3].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Računarske koponente")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[4].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Tv i audio")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[5].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Foto i video")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[6].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Monitori i periferije")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[7].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Štampači")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[8].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Konzole")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[9].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Memorije")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[10].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Mrežna oprema")
            </div>
            <div class="col-7 row">
                <div class="col-sm-2">
                    @Html.CheckBoxFor(m => m.Interests[11].Item2, new { @class = "form-control" })
                </div>
                @Html.Label("Bela tehnika")
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/Login.css")
}
